{% extends 'base.html' %}

{% block content %}
    <h1>Профиль</h1>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <ul>
        <li><strong>Имя:</strong> {{ user.first_name }}</li>
        <li><strong>Фамилия:</strong> {{ user.last_name }}</li>
        <li><strong>E-mail:</strong> {{ user.email }}</li>
        <li><strong>Логин:</strong> {{ user.username }}</li>
        <li><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d M Y H:i" }}</li>
        <li><strong>Последний вход в систему:</strong> {{ user.last_login|date:"d M Y H:i" }}</li>
    </ul>
    <a href="/users/update" style="margin-left: 10px;">Редактировать профиль</a>

    <h2>Действия</h2>
    <ul>
        <li><a href="/add">Внести данные</a></li>
        <li><a href="/reports">Сформировать отчет</a></li>
    </ul>

    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Выход из профиля</button>
    </form>
{% endblock %}